# Data Wrangling: Capstone 2 - Gene Expression

## Setup

### Start by loading necessary libraries

In [1]:
#import the libraries needed
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

### Navigate to desired folders

In [2]:
path = 'C:\\Users\\Shru\\Documents\\Datasets'
os.chdir(path)

In [3]:
os.getcwd()

'C:\\Users\\Shru\\Documents\\Datasets'

In [4]:
os.listdir('gene_expression')

['actual.csv',
 'data',
 'data_set_ALL_AML_independent.csv',
 'data_set_ALL_AML_train.csv']

## Load Data

In [5]:
#Load the training data
df01_train_init = pd.read_csv('gene_expression/data_set_ALL_AML_train.csv')
#Load the test data
df01_test_init = pd.read_csv('gene_expression/data_set_ALL_AML_independent.csv')

In [6]:
df01_test_init.head()

,Gene Description,Gene Accession Number,39,call,40,call.1,42,call.2,47,call.3,...,65,call.29,66,call.30,63,call.31,64,call.32,62,call.33
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-342,A,-87,A,22,A,-243,A,...,-62,A,-58,A,-161,A,-48,A,-176,A
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-200,A,-248,A,-153,A,-218,A,...,-198,A,-217,A,-215,A,-531,A,-284,A
2,AFFX-BioB-3_at (endogenous control),AFFX-BioB-3_at,41,A,262,A,17,A,-163,A,...,-5,A,63,A,-46,A,-124,A,-81,A
3,AFFX-BioC-5_at (endogenous control),AFFX-BioC-5_at,328,A,295,A,276,A,182,A,...,141,A,95,A,146,A,431,A,9,A
4,AFFX-BioC-3_at (endogenous control),AFFX-BioC-3_at,-224,A,-226,A,-211,A,-289,A,...,-256,A,-191,A,-172,A,-496,A,-294,A

## Clean Data

In [7]:
#filter the call columns since we don't need it as there was little explanation given about them
df01_train = [col for col in df01_train_init.columns if 'call' not in col]
df01_test = [col for col in df01_test_init.columns if 'call' not in col]
df02_train = df01_train_init[df01_train]
df02_test = df01_test_init[df01_test]
df02_train.head()

,Gene Description,Gene Accession Number,1,2,3,4,5,6,7,8,...,35,36,37,38,28,29,30,31,32,33
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-214,-139,-76,-135,-106,-138,-72,-413,...,7,-213,-25,-72,-4,15,-318,-32,-124,-135
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-153,-73,-49,-114,-125,-85,-144,-260,...,-100,-252,-20,-139,-116,-114,-192,-49,-79,-186
2,AFFX-BioB-3_at (endogenous control),AFFX-BioB-3_at,-58,-1,-307,265,-76,215,238,7,...,-57,136,124,-1,-125,2,-95,49,-37,-70
3,AFFX-BioC-5_at (endogenous control),AFFX-BioC-5_at,88,283,309,12,168,71,55,-2,...,132,318,325,392,241,193,312,230,330,337
4,AFFX-BioC-3_at (endogenous control),AFFX-BioC-3_at,-295,-264,-376,-419,-230,-272,-399,-541,...,-377,-209,-396,-324,-191,-51,-139,-367,-188,-407

In [8]:
# Transpose and clean
df03_train = df02_train.T
df03_train.columns = df03_train.loc['Gene Accession Number']
df03_train = df03_train.drop(['Gene Description','Gene Accession Number'], axis=0)
df03_train.index.name = 'Patient_Num'
df03_test = df02_test.T
df03_test.columns = df03_test.loc['Gene Accession Number']
df03_test = df03_test.drop(['Gene Description','Gene Accession Number'], axis=0)
df03_test.index.name = 'Patient_Num'
df03_test.head()

Gene Accession Number,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,AFFX-BioDn-3_at,AFFX-CreX-5_at,AFFX-CreX-3_at,AFFX-BioB-5_st,...,U48730_at,U58516_at,U73738_at,X06956_at,X16699_at,X83863_at,Z17240_at,L49218_f_at,M71243_f_at,Z78285_f_at
Patient_Num,,,,,,,,,,,,,,,,,,,,,
39,-342,-200,41,328,-224,-427,-656,-292,137,-144,...,277,1023,67,214,-135,1074,475,48,168,-70
40,-87,-248,262,295,-226,-493,367,-452,194,162,...,83,529,-295,352,-67,67,263,-33,-33,-21
42,22,-153,17,276,-211,-250,55,-141,0,500,...,413,399,16,558,24,893,297,6,1971,-42
47,-243,-218,-163,182,-289,-268,-285,-172,52,-134,...,174,277,6,81,2,722,170,0,510,-73
48,-130,-177,-28,266,-170,-326,-222,-93,10,159,...,233,643,51,450,-46,612,370,29,333,-19

In [9]:
#Join the two sets together into one df
df1 = df03_train.append(df03_test)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, 1 to 62
Columns: 7129 entries, AFFX-BioB-5_at to Z78285_f_at
dtypes: object(7129)
memory usage: 3.9+ MB

In [10]:
# We need to convert our intensity values to numeric
df1 = df1.apply(pd.to_numeric)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, 1 to 62
Columns: 7129 entries, AFFX-BioB-5_at to Z78285_f_at
dtypes: int64(7129)
memory usage: 3.9+ MB

In [11]:
df_cancer = pd.read_csv('gene_expression/actual.csv')
df_cancer.head()

   patient cancer
0        1    ALL
1        2    ALL
2        3    ALL
3        4    ALL
4        5    ALL

In [25]:
## Cleaning data
# Our df1 patient nums are not in the same order as the df_cancer and we need to match them up
a = df1.index.to_series().astype(int)
df2 = df1.set_index(a)
df3 = df2.sort_index(axis=0)

In [26]:
print(df1.index)
print(df2.index)
print(df3.index)

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '34', '35', '36', '37', '38', '28', '29', '30', '31', '32',
       '33', '39', '40', '42', '47', '48', '49', '41', '43', '44', '45', '46',
       '70', '71', '72', '68', '69', '67', '55', '56', '59', '52', '53', '51',
       '50', '54', '57', '58', '60', '61', '65', '66', '63', '64', '62'],
      dtype='object', name='Patient_Num')
Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 34, 35, 36, 37, 38, 28, 29,
            30, 31, 32, 33, 39, 40, 42, 47, 48, 49, 41, 43, 44, 45, 46, 70, 71,
            72, 68, 69, 67, 55, 56, 59, 52, 53, 51, 50, 54, 57, 58, 60, 61, 65,
            66, 63, 64, 62],
           dtype='int64', name='Patient_Num')
Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 71, 72],
           dtype='int64', name='Patient_Num')

In [14]:
# Match up indices for merge
df_cancer = df_cancer.rename(columns={'patient':'Patient_Num'})
df1c = df_cancer.set_index('Patient_Num')
df1c.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 71, 72],
           dtype='int64', name='Patient_Num')

In [27]:
df3.head()

Gene Accession Number,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,AFFX-BioDn-3_at,AFFX-CreX-5_at,AFFX-CreX-3_at,AFFX-BioB-5_st,...,U48730_at,U58516_at,U73738_at,X06956_at,X16699_at,X83863_at,Z17240_at,L49218_f_at,M71243_f_at,Z78285_f_at
Patient_Num,,,,,,,,,,,,,,,,,,,,,
1,-214,-153,-58,88,-295,-558,199,-176,252,206,...,185,511,-125,389,-37,793,329,36,191,-37
2,-139,-73,-1,283,-264,-400,-330,-168,101,74,...,169,837,-36,442,-17,782,295,11,76,-14
3,-76,-49,-307,309,-376,-650,33,-367,206,-215,...,315,1199,33,168,52,1138,777,41,228,-41
4,-135,-114,265,12,-419,-585,158,-253,49,31,...,240,835,218,174,-110,627,170,-50,126,-91
5,-106,-125,-76,168,-230,-284,4,-122,70,252,...,156,649,57,504,-26,250,314,14,56,-25

In [28]:
# Combine cancer classifications to data
df = pd.merge(df1c, df3,left_index=True, right_index=True)
df.head()

,cancer,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,AFFX-BioDn-3_at,AFFX-CreX-5_at,AFFX-CreX-3_at,...,U48730_at,U58516_at,U73738_at,X06956_at,X16699_at,X83863_at,Z17240_at,L49218_f_at,M71243_f_at,Z78285_f_at
Patient_Num,,,,,,,,,,,,,,,,,,,,,
1,ALL,-214,-153,-58,88,-295,-558,199,-176,252,...,185,511,-125,389,-37,793,329,36,191,-37
2,ALL,-139,-73,-1,283,-264,-400,-330,-168,101,...,169,837,-36,442,-17,782,295,11,76,-14
3,ALL,-76,-49,-307,309,-376,-650,33,-367,206,...,315,1199,33,168,52,1138,777,41,228,-41
4,ALL,-135,-114,265,12,-419,-585,158,-253,49,...,240,835,218,174,-110,627,170,-50,126,-91
5,ALL,-106,-125,-76,168,-230,-284,4,-122,70,...,156,649,57,504,-26,250,314,14,56,-25

In [31]:
# Save our cleaned up dataframes
os.getcwd()

'C:\\Users\\Shru\\Documents\\Datasets\\gene_expression\\data'

In [30]:
path = 'C:\\Users\\Shru\\Documents\\Datasets\\gene_expression\\data'
os.chdir(path)

In [32]:
try:
    df.to_csv('fullgenedata.csv')
except:
    print('fail')
else:
    print('success')

success